<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.poc.dropme">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DropMe_Theme">
        <activity
            android:name=".Passenger.PassengerActivity"
            android:exported="true" />
        <activity
            android:name=".Bookings.PassengerBookings"
            android:exported="true" />

        <receiver
            android:name=".Gadgets.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Gadgets.SmsBroadcast.SMSreceiverPassenger"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:priority="5822" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Gadgets.SmsBroadcast.SMSreceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:priority="5822" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Driver.DriverHome"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerHome"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHUbfmXoTZ1IEnu2OlkKaAS6-fMxTLH08" />

        <activity
            android:name=".Gadgets.BaseActivity"
            android:exported="true" />
    </application>

</manifest>